name: Release Build

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Create Release
    runs-on: windows-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        cache: 'pip'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pyinstaller
    
    - name: Build executable
      run: |
        pyinstaller --name="ECB-TOOL-${{ github.ref_name }}" --windowed --onefile main.py
    
    - name: Create ZIP archive
      run: |
        Compress-Archive -Path dist/*, README.md, LICENSE, config/, data/description.txt, data/titles.txt -DestinationPath ECB-TOOL-${{ github.ref_name }}-Windows.zip
    
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: |
          ECB-TOOL-${{ github.ref_name }}-Windows.zip
        generate_release_notes: true
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
